/*Tran developer will style here*/
.row-choose-file{ position: relative; margin: 0 auto; width: 590px; }
.setchoosed{ border: 2px solid yellow; }
.description{
    font-style: italic;
    font-size: 12px;
}
.upload-container{ display: none; }
#btn-upload{
    margin-top: 26px;
    display: inline-block;
}