Tran developer will style here*/
.row-choose-file{ position: relative; margin: 0 auto; width: 590px; }
li.setchoosed, img.setchoosed{ border: 1px solid #10FA2C !important; position: relative; }
.description{
    font-style: italic;
    font-size: 12px;
}
.upload-container{ display: none; }
#btn-upload{
    margin-top: 26px;
    display: inline-block;
}
.progress-bar{
    height: 10px;
    /* width: 100%;  */
    background: #1E6DC4;
    position: absolute;
    bottom: 20px;
    margin-left: -15px;
}
.count-progress{
    position: absolute;
    bottom: 0px;
    color: #FFF;
    left: 4px;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}
.upload_progress_bar .progress{ width: 0%; }
.upload-dropzone{
    width: 100%;
    height: 100px;
    background: url(/memreas/img/drop-zone.png) no-repeat top center;
    cursor: pointer;
    border-top: 1px solid #254C77;
    border-bottom: 1px solid #254C77;
}
.hidden-onload{ display: none; }
ul.edit-area-scroll{ height: 270px; }

/* Responsive Device Fixing Layout*/
@media screen and (max-width: 1280px){
    #tabs-memreas a{ padding: .4em 3em; }
}
@media screen and (max-width: 900px){
    #tabs-memreas a{ padding: .4em 2em; }
}
@media screen and (max-width: 760px){
    #maintab-content .span9:first-child{
        width: 66%;
        margin-left: 7%;
    }
}
.notify-box a.btn{
    padding: 2px 20px;
    background: #A9C1EC;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.event-upload-image{ height: 320px; }
.upload-event-buttons{ padding: 25px; }
.event_img img{ widht: 80px; height: 98px; }
.public-profile-img{ width: 70px; height: 70px; }
.video-media{ position: relative; }
.overlay-videoimg{
    position: absolute;
    z-index: 1000;
    top: 1px;
    left: 1px;
}
.elastislide-carousel ul li a img{
    width: 110px !important;
    height: 70px;
}
.carousel-memrease-area .elastislide-carousel ul li{ margin-left: 10px; }
.event_like, .event_comment{ position: relative; }
.event_like span, .event_comment span{
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    position: absolute;
    right: 7px;
    top: 4px;
}
.event_comment span{ top: 3px; }
.image-preview img{ width: 430px; height: 280px; }
.memreas-detail-comments .pro-pics img{ width: 85px; height: 65px; }
img.selected-gallery{
    bottom: 5px;
    height: 20px !important;
    position: absolute;
    right: 5px;
    width: 20px !important;
}
#popupplayerMemreas{ width: 480px; }
.memreas-detail-likecount, .memreas-detail-commentcount{ position: relative; }
.memreas-detail-likecount span, .memreas-detail-commentcount span{
    display: block;
    position: absolute;
    top: 15px;
    right: 16px;
    font-weight: bold;
    font-size: 12px;
    color: #F8F8F8;
}
.memreas-detail-commentcount span{ top: 11px; }
.nw-friend-selected{ border: 3px solid red; }
li.working-upload{ position: relative; }
li.working-upload .progress-text{
    margin-left: 30px;
    position: absolute;
    left: 10%;
    top: 65%;
    color: #F1FA24;
    font-style: italic;
    font-size: 11px;
    width: 400px;
}
#tab-content-share .hideCls{ display: none; }
#tab-content-share #tab1-share{ display: block; }
.aviary-edit-wrapper{
    height: 450px; position: relative;
    width: 80%;
    float: left;
}
.aviary-thumbs li, .galleries-location li{
    margin-bottom: 10px !important;
}
/*.aviary-thumbs li{ border: 1px solid #FFF; } kH*/
.change-profile-btn{ float: right; }
.exit-aviary-fullscreen{
    position: fixed;
    right: 1px;
    bottom: -15px;
    z-index: 10000;
    display: none;
}
#gallery-location{ width: 100%; height: 400px; }
.pro-pics img, .event_pro img{
   /* display: block;
    width: 100%;
    height: 100%;*/
    display: inline;
    width: 100%;
    height: 50px;
    /*height: 100%;*/
}
.pro-pics2 img{ width: 48px; height: 48px; }
.event_gallery_pro img{ width: 40px; height: 40px; }
.notification{ height: auto; }
.notification span{
    display: block;
}
.hide-onload{ display: none; }
.error-description{
    color: #FF1212;
    font-style: italic;
}
.stripe-payment-processing{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background: #FFF;
    margin-top: 5%;
    padding: 20px;
    font-size: 13px;
    font-style: italic;
    color: #838383;
    border: 3px solid #E9E9E9;
}
.stripe-logo img{
    width: 250px;
}
.stripe-payment-processing .loading-image img{
    width: 50px;
}
.memreas-detail-owner{
    width: 45%;
    margin-left: 2%;
}
#tab-content-more{ padding-top: 50px; }
.tab-slide-nav{ position: relative; display: none; }
.tab-slide-nav .slide-left{
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: 15px;
    cursor: pointer;
}
.tab-slide-nav .slide-right{
    display: inline-block;
    position: absolute;
    right: -5px;
    bottom: 15px;
    cursor: pointer;
}
.tab-slide-nav img{ width: 13px; }
.fotorama__stage__frame{ text-align: center; }
.notification-head{ height: 200px; overflow: auto; }
.aviary-edit-tools{ overflow: hidden; color: #FFF; clear: both; }
.aviary-edit-tools .tool-inner{
    margin-left: -65px;
}
.aviary-edit-tools a{ color: #FFF; }
.aviary-edit-tools a:hover{ text-decoration: underline; }
.myMemreas, .friendMemreas, .publicMemreas{ height: 400px; }
img.loading-small{
    width: 24px !important;
    height: 10px !important;
    border: 0px !important;
}
.notification-actions{
    clear: both;
    margin-left: 10%;
}
.dropdown-menu{ height: 200px; overflow-y: auto; }
.typeahead li .bond{ height: 60px; }
.typeahead li a .bond strong{ color: #D84429; }
.typeahead li a:hover .bond strong{ color: #00F; }
.popupAddMediaContent img{
    width: 100%;
    height: 60px;
}
.memreas-detail-gallery{ height: 400px; }
.input-wrap{ position: relative; }
.overlay-bg{
    position: absolute;
    top: 1px;
    left: 1px;
    display: none;
}
.overlay-bg .bg{
    width: 100%;
    height: 100%;
    background: #FFF;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
}
.overlay-bg img{
    position: relative;
    z-index: 2;
    margin-left: 20px;
    margin-top: 10px;
}
.button-disabled{
    opacity: 0.7;
    -moz-opacity: 0.7;
    -webkit-opacity: 0.7;
    filter: alpha(opacity = 70);
}
.image-sync{ position: relative; }
.image-sync img.loading{ position: absolute; left: 45%; top: 35%; }
.notification-pic{
    width: 50px;
    float: left;
    margin-right: 10px;
}
.notification-pic img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}
.notification-time{
    background: url('../img/header-noti-comment.png') no-repeat left center;
    padding-left: 27px;
    display: block;
    float: left;
    height: 35px;
    width: 70px;
    margin-top: 10px;
}
.notification-header-loading{
    width: 100%;
    height: 100%;
    text-align: center;
}
.carousel-area-aviary{
    width: 15%; 
    float: left;
}
.carousel-area-aviary .elastislide-carousel{
    height: auto;
}
.carousel-area-aviary .elastislide-wrapper navs span{
    background: url(../img/arrows-top-down.png) no-repeat 0px 0px;
    left: 45%;
    width: 45px;
    height: 14px;
}
.carousel-area-aviary .elastislide-wrapper navs span.elastislide-next{
    background-position: 0px -14px;
}
ul.popupContact.memreas-detail-friends, .account-payment{ height: 200px; }
.TermsAndServiceContent{ height: 300px; }
.creditAddCardForm input, .accountAddCardForm input, .addCardForm input{ color: #A0A0A0; }
#TermsAndServiceContent h4{
    font-weight: bold;
    color: #FFF;
    margin-bottom: 10px;
    font-family: "Century Gothic";
}
.account-billing{ height: 180px; }
/* Aviary page */
#avpw_save_button, #avpw_apply_container{
    width: 20px;
    padding-top: 11px;
    padding-bottom: 0px;
    margin: 0;
    text-align: center;
    padding-left: 30px;
    padding-right: 45px;
    font-size: 17px;
    margin-top: -20px;
}

.aviary-inner #avpw_controls, .aviary-inner #avpw_tool_content_header, .aviary-inner #avpw_tool_content_wrapper,
.aviary-inner #avpw_canvas_embed, .aviary-inner #avpw_footer, .aviary-inner  #avpw_tool_content_header, .aviary-inner #avpw_rghtArrow{
    border-radius: none !important;
    border: none !important;
    -webkit-border-radius: none !important;
    background: none !important;
    box-shadow: none;
    -moz-box-shadow:none;
}
#avpw_footer, .avpw_close_button, #avpw_tool_content_header{ display: none !important; }
.avpw_mode_action_right {
left: 0px;
}

.avpw_prev {
left: 120px;
}
.avpw_tool_pager .avpw_clip {
left: 168px;
right: 47px;
}
#avpw_rghtArrow {
right: -1px;
}
/*
.avpw .avpw_icon{
    padding-left: 30px;
}
.avpw_tool_icon_inner{
    background-image: url('../img/aviary-toolbar.png') !important;
    width: 95px !important;
    height: 80px !important;
}
.avpw_tool_icon{ height: 100px !important; }
.avpw .avpw_icon_label{ left: 41px !important; bottom: 21px !important; font-size: 10px !important;}
.avpw_tool_icon_inner:before{ display: none !important; }
#avpw_main_enhance .avpw_tool_icon_inner{
    background-position: 4px 0px !important;
}
#avpw_main_effects .avpw_tool_icon_inner{
    background-position: -1267px -88px !important;
}
#avpw_main_frames .avpw_tool_icon_inner{
    background-position: 355px 0px !important;
}
#avpw_main_overlay .avpw_tool_icon_inner{
    background-position: -2636px 0px !important;
}
#avpw_main_orientation .avpw_tool_icon_inner{
    background-position: -2002px -87px !important;
}
#avpw_main_focus .avpw_tool_icon_inner{
    background-position: -1632px -88px !important;
}
#avpw_main_brightness .avpw_tool_icon_inner{
    background-position: -86px -173px !important;
}
#avpw_main_saturation .avpw_tool_icon_inner{
    background-position: -2606px -1223px !important;
}
#avpw_main_sharpness .avpw_tool_icon_inner{
    background-position: -2516px -864px !important;
}
#avpw_main_contrast .avpw_tool_icon_inner{
    background-position: -445px -343px !important;
}
#avpw_main_colorsplash .avpw_tool_icon_inner {
    background-position: -445px -259px !important;
}
#avpw_main_drawing .avpw_tool_icon_inner {
    background-position: -806px -515px !important;
}
#avpw_main_blemish .avpw_tool_icon_inner {
    background-position: -88px -85px !important;
}
*/
/*@media (max-height:690px){
    #gallery-location{
        height: 334px;
    }
}